body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.counter-container{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  padding: 10px;
  border-radius: none;
  max-width: 200px;
  margin: auto;
}

.counter-button{
  background-color: blue;
  color: white;
  border: none;
  padding: 15px 20px;
  margin: 0 35px;
  cursor: pointer;
  border-radius: none;
}


.counter-button:hover{
  background-color: darkblue;
}


.counter-value{
  font-size: 30px;
  font-weight:500;
}